!!! 5
%html
  %head
    %title 451 Unavailable For Legal Reasons
  %body
    %h1 451 Unavailable For Legal Reasons
    %p 
      This page is unavailable for no particular reason, other than as a test of
      <a href="/">HTTP 451</a>. Had this been a real unavailble for legal reasons
      notice, it would probably sound a lot scarier.
